
@{
    ViewBag.Title = "Product";
}

<script src="~/Scripts/shopBridge.js"></script>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3>Shop Bridge Products</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-5">
            <h3>Product Master</h3>
            <form id="productForm" class="form horizontal">
                <div class="form-group d-none">
                    <input type="hidden" class="form-control" name="productId" id="productId">
                </div>
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="productName" placeholder="Enter Product Name">
                    <div class="error-message" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="productCode">Product Code</label>
                    <input type="text" class="form-control" name="productCode" id="productCode" placeholder="Enter Product Code">
                    <div class="error-message" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="productDescription">Description</label>
                    <input type="text" class="form-control" name="productDescription" id="productDescription" placeholder="Enter Product Description">
                    <div class="error-message" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="productPrice">Price</label>
                    <input type="number" class="form-control" name="productPrice" id="productPrice" placeholder="Enter Product Price" min="0">
                    <div class="error-message" style="color:red;"></div>
                </div>
                <div class="form-group">
                    <label for="productAvailableCount">Product Count</label>
                    <input type="number" class="form-control" name="productAvailableCount" id="productAvailableCount" placeholder="Enter Product Availablity Count" min="0">
                    <div class="error-message" style="color:red;"></div>
                </div>
                <button type="button" class="btn btn-primary" onclick="addProduct()" id="addButton"><i class='fa fa-plus'></i> Add</button>
                <button type="button" class="btn btn-secondary" onclick="modifyProduct()" id="modifyButton"><i class='fa fa-edit'></i> Modify</button>
                <button type="button" class="btn btn-light" onclick="clearForm()"><i class='fa fa-times'></i> Clear</button>
            </form>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3>Available Products</h3>
            <table class="table table-bordered" id="productTable" style=" width:100%;">
                <thead class="thead-dark">
                    <tr>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tboday>
                </tboday>
            </table>
        </div>
    </div>
</div>

