
@{
    ViewBag.Title = "Dashboard";
}

<script src="~/Scripts/dashboard.js"></script>


<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h3>Shop Bridge Dashboard</h3>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped" id="productTable" style=" width:100%;">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Product Code</th>
                        <th>Available Count</th>
                    </tr>
                </thead>
                <tboday>
                </tboday>
            </table>

            
        </div>
    </div>
</div>


